.Body {
  background-color: white;
  width: 100%;
  margin-top: 10vh;
  height: auto;
}

.Btn {
  margin: 5px;
}

.Container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Footer {
  background-color: gray;
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  position:fixed;
}

.Header {
  background-color: indigo;
  color: white;
  width: 100%;
  height: 10vh;
  display: flex;
  top: 0;
  position:fixed;
}

.IndexList {
  border: 1px solid #C6C5FF;
  border-radius: 3px;
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 270px;
  cursor: pointer;
}

.IndexPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.IndexRow {
  width: 80%;
  margin: 10px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InputText {
  width: 60%;
  padding: 10px;
  margin: 5px;
}

.Link {
  text-decoration: none;
  color: white;
  border: 1px solid #6A50C7;
  padding: 1%;
  font-weight: bold;
}

.Link:hover {
  background-color: black;
}

.ListImage {
  width: 35%;
}

.ListInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MainImage {
  height: 100%;
  width: 100%;
}

.Menu {
  width: 80%;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.MoreInfo {
  background-color: #F4E5FF;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TabRowHead {
  width: 30%;
  background-color: indigo;
  color: white;
  border-bottom: 1px solid white;
  padding: 12px;
}

.TabRowHeadLast {
  border: 0;
}

.TabRowInfo {
  padding: 12px 12px 12px 30px;
  border-bottom: 1px solid indigo;
}

.TabRowInfo:hover {
  font-weight: bold;
}

.TabRowInfoLast {
  border: 0;
}

.TabView {
  width: 99%;
  border: 1px solid indigo;
  border-radius: 6px;
  text-align: left;
  margin: 2% 0 2% 0;
  box-shadow: 1px 1px 1px 1px indigo;
}

.TabViewCol {
  padding: 10px;
  border-bottom: 1px solid indigo;
}

.TabViewHead {
  background-color: indigo;
  color: white;
  padding: 10px;
}

.TabViewRow:hover {
  font-weight: bold;
}

.User {
  width: 20%;
  justify-content: center;
  margin: auto;
}

.ViewBody {
  width: 80%;
  margin: 10px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ViewImage {
  width: 100%;
  height: auto;
  align-self: center;
  display: flex;
}

.ViewImageSet {
  width: 33%;
}

.ViewInfo {
  width: 100%;
}

.vImg {
  max-width: 100%;
}

@media (max-width: 480px) {
  h2, h3, h4 {
    margin-bottom: 0;
    margin-top: 0;
  }
  .IndexList {
    flex-direction: column;
    height: 300px;
    font-size: 3.5vw
  }
  .ListImage {
    height: 60%;
    width: 100%;
  }
  .ListInfo {
    text-align: center;
    min-width: 100%;
    height: 40%;
  }
  .TabViewCol {
    display: flex;
  }
  .TabViewCol:last-of-type {
    border-bottom: 5px solid indigo;
  }
  .TabViewHead {
    display: flex;
  }
}

@media (max-width: 800px) {
  h2, h3, h4 {
    margin-bottom: 0;
    margin-top: 0;
  }
  td {
    border: 1px solid indigo;
  }
  th {
    border: 1px solid #6A50C7;
  }
  .IndexList {
    font-size: 3.5vw;
    height: 160px;
  }
  .Link {
    font-size: 4.0vw;
    padding: 10px;
    margin: auto;
  }
  .User {
    font-size: 3.5vw;
  }
}
